@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<hr style="border: 1px double #337ab7;">
<h3>QCsolver Inc.</h3>

<p>
    <strong>Set in the heart of downtown Hespler. QCsolver</strong> is located in an old historic furniture factory in Cambridge Ontario, Canada.<br />
    Our bright, open office space is condusive to the collaborative mindset of QCsolver.<br />
    This beautiful office space is home to our expert work team as well as many networking events for business professionals.<br />
    For more information regarding our networking events and workshops please see our <a title="EventBrite" href="http://www.eventbrite.ca/o/sustento-amp-qcsolver-inc-5925440757" target="_blank">EventBrite</a> page.
</p>
<br />
<img src="~/Content/Images/location.jpg" style="float:left; height:100%; padding-top:10px;" />
