@{
    ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title.</h2>
<hr style="border: 1px double #337ab7;">
<h3>QCsolver Inc.</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:info@qcsolver.com">info@qcsolver.com</a><br />
</address>

<location>
    <strong>Location:</strong> <br />
    <address>
        25 Milling Road Unit 303,<br />
        Cambridge, ON N3C 1C3<br />
        <abbr title="Telephone">Tel:</abbr>
        +1 905-296-4003 or 226-474-1169<br />
        <abbr title="Fax">Fax:</abbr>
        +1 905-296-4004<br />
    </address>
</location>