<!DOCTYPE html>
<html lang="en">
@using qcsolver.Models;
    <body>
        @{
            ViewBag.Title = "Home Page";
        }

        <link type="text/css" href="~/Content/indexStyle.css" rel="stylesheet">

        <h2>Welcome to QCsolver's OnSite </h2>
        
            @if (Session["user"] == null)
            {
                <script>document.getElementsByClassName('sidebar-nav')[0].style.visibility = 'hidden';</script>
                <script>document.getElementById('sidebar-wrapper').style.visibility = 'hidden';</script>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Software and a Service</h3>
                            <hr />
                            <img class="homeLogo" src="~/Content/Images/QCLoginLogo.png" alt=" QCsolver Logo" />
                            <hr />
                            <br />
                            <h4>
                                Welcome to QCsolver's OnSite managing web application.
                            </h4>
                            <h5> 
                                Please sign in by using the top right icon. If you have no credentials or invalid credentials contact your system administrator.
                            </h5>
                            <h5>
                                QCsolver is a convenient and easy-to-use portal to monitor your organisation’s risk. Our QCsolver portal will ensure that your vendors and contractors are current and qualified, while adhering to legislation.
                            </h5>
                            <br />
                            <hr />
                            <br />
                            <div class="container">
                                <div class="row row-centered">
                                    <div class="col-md-4 col-centered">
                                        <p>
                                            <i class="fa fa-folder-open" id="iconF"></i>
                                            <br /><br />
                                            QCsolver helps you manage your organisation’s certificates and documents using customized categories.
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-centered">
                                        <p>
                                            <i class="fa fa-calendar" id="iconCal"></i>
                                            <br /><br />
                                            Keep track of expiration dates and the status on your certificates to ensure that everything is up to date.
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-centered">
                                        <p>
                                            <i class="fa fa-database" id="iconDB"></i>
                                            <br /><br />
                                            With QCsolver, your organisation is able to access all evaluations of the vendors that you use, in one database.
                                            Tracking the performance of your vendors using evaluations is key in any business relationship.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Getting started</h3>
                                    <hr />
                                    <p>
                                        On the left hand side you will find a menu that will help you with your everyday tasks as well as your productivity and time efficiency.<br />
                                        <i class="fa fa-arrow-left" id="iconAL"></i>
                                        The QCSOLVER SYSTEM is a fully accessible cloud based software and service designed to assist clients and contractors in managing pre-qualifications and performance.
                                    </p>
                                    <p>
                                        QCsolver hopes that this web application will improve your performance withing your company.
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                    <h4>Your role as a user is:</h4>
                                    <h3>@((((Person)Session["user"]).PersonType.type.ToUpper()))</h3>
                                    <div class="userIconRole">
                                        @if (((Person)Session["user"]).PersonType.type == "master")
                                        {
                                            <i class="fa fa-user-secret" id="usrMast"></i>
                                        }
                                        else if (((Person)Session["user"]).PersonType.type == "admin")
                                        {
                                            <i class="fa fa-users" id="usrAdm"></i>
                                        }
                                        else if (((Person)Session["user"]).PersonType.type == "supervisor")
                                        {
                                            <i class="fa fa-user-plus" id="usrSup"></i>
                                        }
                                        else if ((((Person)Session["user"]).PersonType.type == "contractor") || (((Person)Session["user"]).PersonType.type == "subcontractor"))
                                        {
                                            <i class="fa fa-user" id="usrContSub"></i>
                                        }
                                    </div>
                                </div>
                                @*<div class="col-md-8" style="background-image:url(~/Content/Images/buildingFrame.jpg)">
                    <p>role is master</p>
                </div>*@
                            </div>
                            }
</body>
</html>
@if (Session["user"] == null)
            {
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    }).click();
</script>
    <script>document.getElementsByClassName('menu-toggle')[0].style.visibility = 'hidden';</script>
    <script>document.getElementsByClassName('sr-only-focusable')[0].style.visibility = 'hidden';</script>
    <script>document.getElementsByClassName('sidebar-nav')[0].style.visibility = 'hidden';</script>
    <script>document.getElementById('sidebar-wrapper').style.visibility = 'hidden';</script>
            }
else
{
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
}