.sidebar-nav li{
    text-align: center;
    line-height: 130px;
    border-top: 1px dashed white;
}

.acctSettings{
    color: #999999;
}

hr{
    margin-left:65px;
    border: 1px double #337ab7;
}

.customFooter{
    background-color: white;
}
